:root {
    --backgroundDark: red;
    --backgroundLight: blue;
    --accentDark: green;
    --accentLight: cyan;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    -ms-touch-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    transition: .2s;
}

body {
    display: flex;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    padding: 10px;
    background: var(--background);
}

main {
    width: min(600px, 100%);
    padding-bottom: 100px;
}

.menu {
    position: relative;
}

.menu::after {
    content: '•••';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
}

.menu > div {
    display: none;
    position: absolute;
    left: -190px;
    top: 90%;
    min-width: 200px;
    background: var(--background);
    color: var(--accent-dark);
    border: 1px solid var(--accent-dark);
    border-radius: 5px;
    z-index: 2;
}

.menu:hover > div {
    display: block;
}

.menu > div > button {
    width: 100%;
    height: 30px;
    background: transparent;
    color: var(--accent-dark)
}

.menu > div >  button:hover {
    background: var(--accent-dark);
    color: var(--background);
}

.menu:hover {
    color: var(--background);
    background: var(--low-focus-text);
}

.action-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-bar :nth-child(-n+1) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.action-bar :nth-last-child(-n+1) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.action-bar input {
    align-self: flex-start;
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid var(--frame);
    background: transparent;
    color: var(--low-focus-text);
}


.action-bar input::placeholder {
    color: var(--low-focus-text);
    opacity: 80%;
}

.action-bar > .menu, .action-bar > button {
    width: 70px;
    height: 40px;
    padding: 10px;
    margin-bottom: 10px;
    background: var(--accent-dark);
    color: var(--background);
    transition: .2s;
}

.action-bar > .menu:hover, .action-bar > button:hover {
    background: var(--accent-light);
}

.activity {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--frame);
    border-radius: 10px;
}

.activity.hidden {
    display: none;
}

.activity+.activity {
    margin-top: 10px;
}

.activity > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.activity div p {
    color: var(--activity-time-spent);
}

.activity-start-btn {
    display: block;
    padding: 3px;
    color: var(--positive-dark);
    background: var(--positive-light);
    border: 1px solid var(--positive-dark);
    border-radius: 5px;
    transition: .2s;
}

.activity-start-btn:hover {
    color: var(--positive-light);
    background: var(--positive-dark);
    border: 1px solid var(--positive-light);
}

.activity-start-btn.disabled {
    filter: saturate(50%);
    opacity: 50%;
}

.activity-title {
    background: transparent;
    color: var(--activity-title);
    font-size: 1.2rem;
    line-break: none;
}

input.activity-title {
    max-width: 60%;
    padding: 4px;
    border: 1px solid var(--frame);
    border-radius: 5px;
}

input.activity-title::placeholder {
    color: var(--low-focus-text);
    opacity: 80%;
}

.activity-menu {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    color: var(--accent-light);
    transition: .2s;
}

input.activity-title + .activity-menu:hover div {
    display: none;
}

.activity-fold-registers  {
    display: none;
}

.activity-fold-registers + label {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: var(--low-focus-text);
    border: 1px solid var(--frame);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
}

.activity-fold-registers + label::after {
    content: '\\/';
}

.activity-fold-registers:checked + label::after {
    content: '/\\';    
}

.activity-registers {
    min-height: 10px;
    list-style: none;
    border: 1px solid var(--frame);
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.activity-registers li {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.activity-fold-registers:checked + label + .activity-registers li {
    display: flex;
}

.activity-register-time {
    position: relative;
    min-width: 50px;
    text-align: center;
    padding: 3px;
    background: var(--accent-light);
    color: var(--accent-dark);
    border: 1px solid var(--accent-dark);
    border-radius: 5px;
    white-space: nowrap;
}

.activity-register-time::after {
    content: attr(data-content);
    width: auto;
    position: absolute;
    top: 60%;
    left: 60%;
    padding: 3px;
    background: var(--background);
    color: var(--accent-dark);
    border: 1px solid var(--accent-dark);
    border-radius: 5px;
    z-index: 1;
    opacity: 0%;
    transition: 0.5s;
}

.activity-register-time:hover::after {
    opacity: 100%;
}

.activity-register-date {
    color: var(--low-focus-text);
}

.activity-stop-register,
.activity-delete-register {
    min-width: 40px;
    padding: 3px;
    color: var(--negative-dark);
    background: var(--negative-light);
    border: 1px solid var(--negative-dark);
    border-radius: 5px;
}

.activity-stop-register+.activity-delete-register {
    display: none;
}

.activity-delete-warning {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--accent-);
}
