* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    -ms-touch-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    transition: .2s;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    padding: 10px;
    background: var(--background);
}

main {
    width: min(600px, 100%);
}

main div {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--frame);
    border-radius: 10px;
}

main div + div {
    margin-top: 10px;
}

main div h1 {
    color: var(--accent-dark);
    font-size: 1.2rem;
}

main div p {
    color: var(--accent-light);
    margin-block: 10px;
}

main div input {
    display: none;
}

main div input + label, main div a {
    display: block;
    padding: 3px;
    background: var(--accent-dark);
    color: var(--background);
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
}

main div input + label:hover, main div a:hover {
    opacity: 60%;
}