body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    padding: 10px;
    background: var(--background);
}

main {
    width: min(600px, 100%);
}

+ div {
    margin-top: 10px;
}

h1 {
    color: var(--accent-dark);
    font-size: 1.2rem;
}

p {
    color: var(--accent-light);
    margin-block: 10px;
}

input {
    display: none;
}

input + label, a, main a {
    display: block;
    padding: 3px;
    background: var(--accent-dark);
    color: var(--background);
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
}

input + label:hover, a:hover {
    opacity: 60%;
}

main > a {
    margin-top: 10px;
}