body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    padding: 10px;
    background: var(--background);
}

main {
    width: min(600px, 100%);
}

h1 {
    color: var(--accent-dark);
    font-size: 1.2rem;
}

p {
    color: var(--accent-light);
    margin-block: 10px;
}

input[type="file"], input[type="checkbox"] {
    display: none;
}

input[type="text"] {
    width: 100%;
    padding: 4px;
    margin-top: 10px;
    background: transparent;
    color: var(--accent-dark);
    border: 1px solid var(--frame);
    border-radius: 3px;
}

input[type="text"]::placeholder {
    color: var(--low-focus-text);
}

input + label, a, main a, button {
    width: 100%;
    display: block;
    padding: 3px;
    margin-top: 5px;
    font-size: 1rem;
    background: var(--accent-dark);
    color: var(--background);
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
}

button.negative {
    background: var(--negative-dark);
}

input + label:hover, a:hover {
    opacity: 60%;
}

main > a {
    max-width: 300px;
    margin-top: 10px;
    margin-inline: auto;
}